.producto{
    background: linear-gradient(#bf6666, #f0ebe9);
    width: 100%;
    padding: 0;
}

.producto h1{
    font-size: 3em;
    justify-content: center;
}

.product {
    background-color: #6f7c78;
    width: 100%;
    margin: 1em;
    padding: 20px 16px;
    border-radius: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    
}
.product__content {
    background-color: #f0ebe9;
    border-radius: 1em;
}

.product__img {
    width: 261px;
    border-radius: 1em;
    display: block;
    margin: auto;
}

.product__body {
    text-align: center;
    display: block;
    margin-top: 1em;
}
.product__family {
    text-decoration: underline;
}

.product__title{
    font-size: 1.1em;
}
.product__price {
    font-size: 2em;
    font-weight: bold;
}